<div class="col-sm-6">
  <div class="card mb-4">
    <h5 class="card-header text-center">{{this.title}}</h5>
    <div class="card-body text-center">
      <p class="card-text">{{{this.body}}}</p>
        <a href="/profile/delete/{{@root.username}}/{{this.id}}" class="btn btn-danger">Delete Story</a>    
    </div>
  </div>
</div>