<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text" id="great-story">{{{this.body}}}</p>
      {{!-- make the link this.id or something so we know which story to delete --}}
      <a href="/profile/delete/{{this.id}}" class="btn btn-danger">Delete Story</a>
    </div>
  </div>
</div>