<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 id="title">Choose a Category</h1>
        </div>
    </div>

    <div class="row" id="button-row">
        <div class="col-sm-12 justify-content-center text-center">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#each stories}}
                        {{> categories/categoryBlock}}
                    {{/each}}
                    {{!-- <a class="dropdown-item" value="hp">Harry Potter</a>
                    <a class="dropdown-item" value="got">Game of Thrones</a>
                    <a class="dropdown-item" value="tw">Twilight</a>
                    <a class="dropdown-item" value="ov">Overwatch</a> --}}
                </div>
            </div>
        </div>
    </div>    
</div>