<!--container to hold page content-->
<div class="container">

    <!--row to hold page title-->
    <div class="row mt-5 pt-5">
        <div class="col-sm-12 text-center">
            <h1 class="title">Choose a Story</h1>
        </div>
    </div>

    <!--row to hold the select story dropdown-->
    <div class="row button-row">
        <div class="col-sm-12 justify-content-center text-center">
            <div class="dropdown">
                <button class="btn btn-lg greenBtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!--populate dropdown with story names from database-->
                    {{#each data}}
                        {{> stories/storyBlock}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>