 <div class="container">
    <div class="row mt-4 pt-5">
        <div class="col-sm-12 text-center">
            <h1 class="title"><i class="fas fa-pencil-alt"></i> Recreational Libs</h1>
            <p id="sub">Popculture MadLibs is fun for the whole family!</p>
        </div>
    </div>

    <div class="row" id="button-row">
        <div class="col-sm-12 text-center">
            <a href="/auth/login" class="btn btn-lg loginBtn">LOGIN</a>
            <a href="/auth/register" class="btn btn-primary btn-lg registerBtn" >REGISTER</a>
            <br/>
            <a href="/auth/google" class="btn mt-3 googleBtn" ><img src="./img/googleG.svg" class = "mr-2" alt="G">LOGIN WITH GOOGLE</a>
            <br/> 
        </div>
    </div>
</div>