 <div class="container">
    <div class="row mb-4">
        <div class="col-sm-12 text-center">
            {{!-- need to figure out how to pull this out of DB --}}
            <h1 class="title">STORY TITLE GOES HERE</h1>
        </div>
    </div>

    <div class="row">
        <form action="/stories/userStory/{{storiesId}}" method="POST" id="input-form">
            <div class="form-group">
                <div class="col-sm-6 offset-sm-3 text-center">
                    {{#each blanks}}
                        {{> forms/varBlankBlock}}
                    {{/each}}
                </div>
                <div class="row mt-5">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn mb-5" id="see-story">See Your Story!</button>
                    </div>
                </div>  
            </div>
        </form>
    </div>
</div>