 <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 id="title">Story Title</h1>
        </div>
    </div>
    <form action="/user-create-story/" method="POST">
        <div class="form-group">
            <div class="col-sm-6 justify-content-center">
                {{#each blanks}}
                    {{> forms/varBlankBlock}}
                {{/each}}
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn mb-2">See Your Story!</button>
                </div>
            </div>  
        </div>
    </form>
</div>