<div class="container" id="profile-container">

  <div class="row mt-4 mb-4">
    <div class="col-sm-12 text-center">
        <h1 class="title">Profile</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      {{!-- pull username from DB --}}
      {{!-- <p class="label-font"><b>Username:</b></p> --}}
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-6 text-center">
      {{!-- play new game --}}
      <a href="/start/{{username}}" class="title btn btn-lg greenBtn">Start a New Game</a>
    </div>

    <div class="col-sm-6 text-center">
      {{!-- play new game --}}
      <a href="/create/{{username}}" class="title btn btn-lg greenBtn">Add Your Own Story</a>
    </div>
  </div>  

  <div class="row mt-5 mb-4">
    <div class="col-sm-12 text-center">
        <h3 class="title">Saved Stories</h3>
    </div>
  </div>

  <div class="row pb-5" id="profile-row">
    {{#each data}}
      {{> profile/storyBlock}}
    {{/each}}
  </div>
</div>