<div class="container">

  <div class="row mt-4">
    <div class="col-sm-12 text-center">
        <h1 class="title">Profile</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      {{!-- pull username from DB --}}
      <p class="label-font"><b>Username:</b>{{FROM DB}}</p>
    </div>
  </div>  

 <div class="row mt-4">
    <div class="col-sm-12 text-center">
        <h1 class="title">Profile</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      {{!-- pull username from DB --}}
      <a href="#" class="title btn" id="play-again">Start a New Game</a>
    </div>
  </div>  

  <div class="row mt-5">
    <div class="col-sm-12 text-center">
        <h3 class="title">Saved Stories</h3>
    </div>
  </div>

  <div class="row">
    {{!-- probably handlebars each loop here --}}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Star Wars </h5>
          <p class="card-text" id="great-story">With supporting text below as a natural lead-in to additional content. content about some stuff, good words best story ever, bruh.</p>
          {{!-- make the link this.id or something so we know which story to delete --}}
          <a href="LINK" class="btn btn-danger">Delete Story</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Malfunction</h5>
          <p class="card-text" id="good-story">With supporting text below as a natural lead-in to additional content. words that i write, straight on the page. some random crap right here. I can do it all. Don't belive me just watch. </p>
          {{!-- make the link this.id or something so we know which story to delete --}}
          <a href="LINK" class="btn btn-danger">Delete Story</a>
        </div>
      </div>
    </div>
  </div>
</div>