<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="title">{{title}}</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-sm-8">
              <p class="text-center">
                  {{{story}}}
              </p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-sm-12 text-center">
            <p id="saved-story"><i class="far fa-check-circle"></i> Story saved automatically! </p> 
        </div>
    </div>

    <div class="row text-center justify-content-center">
        <div class="col-sm-8">
            <a href="/start/{{username}}" class="btn mr-2 greenBtn">Play again</a>
            <a href="/profile/{{username}}" class="btn btn-info ml-2 label-font">View Saved Stories</a>
        </div>
    </div>
</div>


