



<form>
    <div class="conatainer">
        <div class="row justify-content-center ">
            <div class="col-sm-9 justify-content-center">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">Add Blank</button>
            </div>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-sm-9 justify-content-center">
                <div class="form-group">
                    
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="noun ending in -ing"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Submit Story</button>
                </div>
            </div>
            </div>

    </div>
</form>