#navbar {
    font-family: 'Luckiest Guy', cursive;
    background-color: #09814A
}

#continue {
    color: #09814A;
}

.container {
    margin-top: 5%;
    padding: 60px;
}

#title {
    color: #313638;
    font-family: 'Luckiest Guy', cursive;
}

#sub {
    font-size: 19px;
}

#button-row {
    margin-top: 15px;
}

#saved-story {
    color: #09814A
}

.loginBtn {
    background-color: #09814A;
    color: white;
}

.googleBtn {
    background-color: #182a51;
}

.googleBtn:hover {
    background-color: #182a51;
}

.logo {
    color: #e8e9eb;
}

.form-control {
    margin-bottom: 15px;
}
.form-control {
    margin-bottom: 15px;
}
.midbox {
    width: 450px;
}
.center {
    text-align: center
}
.modal-body {
height: 600px;
}
.modal-img {
    background-image: url(../img/modalhopeful.jpg);
    background-size: cover;
    background-repeat: no-repeat;

 }