/* global attribute styling */
a:hover {
    color: white;
}

.container {
    margin-top: 5%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: #f0f2f5;
}

html {
    height: 100%;
}

.card-header {
    background-color: white;
}

/* Navbar styling */
#navbar {
    background-color: #09814A
}

.logo {
    font-family: 'Luckiest Guy', cursive;
    color: #e8e9eb;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    color: #e8e9eb;  
}


/* Footer styling */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #313638;
    color: #e8e9eb;
    padding-top: 15px;
}

#footer-text {
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
}


/* Titles on every page */
.title {
    color: #313638;
    font-family: 'Luckiest Guy', cursive;
}

/* Title on index page */
#index-logo {
    font-size: 50px;
}

/* Subtitle on index page */
#sub {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

/* Index page buttons */
.loginBtn {
    background-color: #09814A;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.loginBtn:hover {
    background-color: rgb(6, 92, 53);
}

.registerBtn {
    font-family: 'Open Sans', sans-serif;
}

.googleBtn {
    background-color: #182a51;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.googleBtn:hover {
    background-color: #0e1930;
}

#button-row {
    margin-top: 15px;
}

/* Buttons on other pages */

.authentication {
    background-color: #09814A;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#play-again {
    background-color: #09814A;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#play-again:hover {
    background-color: rgb(6, 92, 53);
}

#see-story {
    background-color: #09814A;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.btn-danger {
    font-family: 'Open Sans', sans-serif;
}

.dropdown-toggle {
    background-color: #09814A;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* form labels */
.label-font {
    font-family: 'Open Sans', sans-serif;
}

/* input form */
#input-form {
    width: 100%;
}

/* dropdown menus for category & story styling */
.dropdown-item {
    font-family: 'Open Sans', sans-serif;
}

/* styling the user input page so that the spacing is nice */

.form-control {
    margin-bottom: 15px;
}

/* styling for the notification that the story's been saved */
#saved-story {
    color: #09814A;
    font-family: 'Open Sans', sans-serif;
}

/* profile page saved stories container */
#profile-container {
    padding-bottom: 80px;
}

/* i have no idea what this is for */
#continue {
    color: #09814A;
    font-family: 'Open Sans', sans-serif;
}

.midbox {
    width: 450px;
}