<!--container to hold page content-->
<div class="container mt-4 pt-4">

  <!--row to hold page title-->
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h1 class="title">Login</h1>
    </div>
  </div>

  <!--row to hold google login button-->
  <div class="row mt-4 mb-4">
    <div class="col-sm-6 offset-sm-3 text-center">
      <a href="/auth/google" class="btn googleBtn"><img src="./../img/googleG.svg" class="mr-2" alt="G">LOGIN WITH GOOGLE</a>
    </div>
  </div>

  <!--row to hold login form-->
  <div class="row mt-4">
    <div class="col-sm-6 offset-sm-3">
      <form action="/auth/login" method="Post">
        <div class="form-group">
          <label for="userName" class="label-font">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password" class="label-font">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn greenBtn">Submit</button>
      </form>
    </div>
  </div>
</div>